{% extends "main/base.html" %}
{% block content %}
    <style>
        .profile{
            display: block;
            align-items: center;
            justify-content: center;

            width: 600px;
            height:400px;

            background-color:#121317;
            border-radius: 60px;
            padding: 30px;

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        button{
            
            font-size: larger;
            padding: 20px;
            color: white;

            background-color: #191A1F;
            border: none;
            border-radius: 40px;
            margin-top: 100px;
        }
        .save_btn{
            font-size: larger;
            padding: 20px;
            color: white;

            background-color: #191A1F;
            border: none;
            border-radius: 40px;
        }
    </style>
    <form action="{% url 'save_profile' %}" class="profile" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h1>Ваш профиль</h1>
        <h4>Никнейм: {{ request.user.username }}</h4>
        <h4 style="width: 24px;">Аватарка: </h4> <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg" />
        <h4>Имя: <input type="text" name="name" required></h4>
        <button type="submit" class="save_btn">Сохранить</button>
    </form>
{% endblock %}