{% extends "main/base.html" %}
{% block content %}
    <style>
        .profile{
            display: block;
            align-items: center;
            justify-content: center;

            width: 600px;
            height:400px;

            background-color:#121317;
            border-radius: 60px;
            padding: 30px;

        }
        button{
            font-size: larger;
            padding: 20px;
            color: white;

            background-color: #191A1F;
            border: none;
            border-radius: 40px;
        }
        .save_btn{
            font-size: larger;
            padding: 20px;
            color: white;

            background-color: #191A1F;
            border: none;
            border-radius: 40px;
        }
    </style>
    <form action="{% url 'edit_profile' %}" class="profile" method="post">
        {% csrf_token %}
        <h1>Ваш профиль</h1>
        <h4>Никнейм: {{ request.user.username }}</h4>
        {% if user.profile.avatar != '' %}
            <h4 style="width: 24px;">Аватарка: <img src='{{ user.profile.avatar }}'></h4> 
        {% else %}
            <h4 style="width: 24px;">Аватарка: Нет</h4> <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg" />
        {% endif %}
        {% if user.profile.name != '' %}
            <h4>Имя: {{ user.profile.name }}</h4>
        {% else %}
            <h4>Имя: Нет</h4>
        {% endif %}
        <button type="submit" class="save_btn">Сохранить</button>
    </form>
{% endblock %}