{% extends 'main\base.html' %}
{% block title %} <title>Login page</title> {% endblock %}

{% block content %}
    <style>
        form{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .login-form{
            display: block;
            width: 300px;
            height:340px;
            background-color:#131313;
            border-radius: 60px;
            padding: 40px;
            justify-content: center;
            color:white;
        }
        .login-form input{
            width: 90%;
            padding: 10px;
            justify-content: right;
            margin:10px;
            border-radius: 24px;
            border:none;
        }
        .log-btn{
            display: flex;
            width: 100%;
            margin-top: 20px;
            margin-bottom: 10px;
            background-color: #191A1F;
            border: none;
            border-radius: 24px;

            font-size: larger;
            color:white;

            padding: 20px;

            
        }
        label{
            font-size: large;
        }
        h2{
            font-size: 34px;
            margin-top: 10px;
            text-align: center;
        }
        button{
            transition: 0.4s ease;
        }
        button:hover{
            background-color: #14161b;
        }
    </style>
    <form action="{% url 'login' %}" class="login-form" method="post">
        {% csrf_token  %}
        <h2>Вход</h2>
        <label for="username">Никнейм:</label>
        <input type="text" id="username" name="username" placeholder="Введите никнейм"><br>
        <label for="username">Пароль:</label>
        <input type="password" id="password" name="password" placeholder="Введите пароль">
        <button class="log-btn" type="submit">Войти</button>
        Забыли пароль? <a href="#">Восстановить</a><br>
        Нет аккаунта? <a href="{% url 'register' %}">Зарегистрироваться</a>
    </form>
{% endblock %}